* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #17202A; /* Azul escuro */
  font-family: Arial, sans-serif; /* Escolha uma fonte adequada */
}

h1 {
  color: #E74C3C; /* Vermelho */
  margin: 20px 0;
}

.progress {
  height: 5px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
}

.progress--bar {
  background-color: #3498DB; /* Azul claro */
  height: 100%;
  transition: all ease 0.5s;
}

.questionArea, .scoreArea {
  display: none;
}

.questionArea {
  max-width: 500px;
  width: 100%;
}

.question {
  color: #27AE60; /* Verde */
  font-size: 18px;
  margin: 20px 0;
}

.option {
  display: flex;
  align-items: center;
  height: 40px;
  background-color: #34495E; /* Azul escuro */
  border-radius: 10px;
  margin-bottom: 5px;
  color: #ECF0F1; /* Branco */
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s; /* Adiciona uma transição suave */
}

.option:hover {
  background-color: #E67E22; /* Laranja quando o mouse passa por cima */
}

.option span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin-left: 5px;
  margin-right: 10px;
  background-color: #E67E22; /* Laranja */
  color: #ECF0F1; /* Branco */
}

.scoreArea {
  background-color: #2ECC71; /* Verde claro */
  padding: 20px;
  border-radius: 20px;
  margin: 10px;
  text-align: center;
}

.prizeImage {
  width: auto;
  height: 100px;
  margin-bottom: 10px;
}

.scoreText1 {
  color: #E74C3C; /* Vermelho */
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 10px;
}

.scorePct {
  color: #27AE60; /* Verde */
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.scoreText2 {
  font-size: 16px;
  color: #ECF0F1; /* Branco */
  margin-bottom: 10px;
}

.scoreArea button {
  border: 0;
  border-radius: 10px;
  background-color: #3498DB; /* Azul claro */
  color: #ECF0F1; /* Branco */
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s; /* Adiciona uma transição suave */
}

.scoreArea button:hover {
  background-color: #E67E22; /* Laranja quando o mouse passa por cima */
}

footer {
  margin-top: 20px;
  color: #34495E; /* Azul escuro */
  font-size: 13px;
}
