.corzinha1 {
    color: rgb(195, 195, 195);
    font-family: "open sans", sans-serif;
}

.fonte1{
        font-family: "Helvetica Neue", sans-serif;
        text-decoration: underline double;
        color:rgb(0, 0, 0)
        
    }

body {
    background: linear-gradient(to bottom right, #acacac, #555555);
}

.fonte2{
    font-family: "Garamond", serif;
    color: rgb(255, 255, 255)
}
